@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-hr {
    /* border: none; */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    /* background-repeat: repeat-x; */
    /* background-size: 10px 2px; */
    color: red;
    width: 60%;
}

.custom-hover-effect {
    position: relative;
    overflow: hidden;
}

.custom-hover-effect::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000; /* ou qualquer cor que você preferir */
    transition: width 0.3s ease;
}

.custom-hover-effect:hover::after {
    width: 100%;
}
