@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-hr {
    /* border: none; */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    /* background-repeat: repeat-x; */
    /* background-size: 10px 2px; */
    color: red;
    width: 60%;
}